/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
} */


.side-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  color: wheat;
  transform: translateX(100%);

}

.side-nav.open {
 transform: translateX(0);
}